{% extends 'base.html' %}

{% load static %}


{% block content %}



 <!-- SECTION -->
 <section class="content">
    <!-- MAIN VIDEO BACKGROUND -->
    <div class="main-video">
        <div class="image-background">
            <img src="{% static 'img/rx-back2.jpeg' %}" alt="">
        </div>
        <div class="image-title">
            <p></p>
            <p> </p>
            <a href="#" class="button-basic-1" data-aos="fade-up">All Events</a>
        </div>
        <div class="video-background">
            <img src="{% static 'img/rx-back1.jpeg' %}" alt="">
        </div>
    </div>
    <!-- MAIN VIDEO BACKGROUND END -->
    <!-- GlOBAL BLOCK -->
    <div class="global-block">
        <div class="container">
            <div class="global-block-wrap grid grid-cols-12 gap-8">
                <div class="global-img col-span-5 sm:col-span-12 res:col-span-12">
                    <div class="item-content">
                        <div class="img-header">
                            <a class="pattern" href="#">
                                <img src="{% static 'img/artists/massive.jpeg' %}" alt="event-img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="global-counter col-span-7 sm:col-span-12 res:col-span-12">
                    <div class="global-title">
                        <a href="#" class="button-basic-1">Trip Hop</a>
                        <h2 data-aos="fade-up">Massive Attack
                        </h2>
                        <h5 data-aos="fade-up">/ 26 SEPTEMBER 2021</h5>
                        <p class="dugem-text" data-aos="fade-up">açıklama açıklamaaaaaaa açıklama açıklamaaaaaaaaçıklama açıklamaaaaaaaaçıklama açıklamaaaaaaaaçıklama açıklamaaaaaaa</p>
                    </div>
                    <div class="global-buy" data-aos="fade-up">
                        <a href="single-event.html" class="button-basic-1">View Detail</a>
                        <a href="#" class="button-basic-2">Get Ticket</a>
                    </div>
                    <div class="global-countdown">
                        <div class="event-counter clearfix">
                            <div class="countdown">
                                <div class="days-count float">
                                    <h3 id="days"></h3>
                                    <span>Days</span>
                                </div>
                                <div class="hours-count float">
                                    <h3 id="hours"></h3>
                                    <span>Hours</span>
                                </div>
                                <div class="minutes-count float">
                                    <h3 id="minutes"></h3>
                                    <span>Minutes</span>
                                </div>
                                <div class="seconds-count float">
                                    <h3 id="seconds">
                                    </h3>
                                    <span>Seconds</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- GlOBAL BLOCK END -->
    
  <!-- TABLE EVENTS -->
  <div class="table-events page-events">
    <div class="background-overlay"></div>
    <div class="container">
        <div class="the-title text-center" data-aos="fade-up">
            <h5 class="head-title-2"> / EVENTS </h5>
            <h2 class="head-title-1"> Upcoming Event
                <span class="title-end">.</span></h2>
            <p class="dugem-text"> buraya motto veya açıklama olabilir</p>
        </div>
        <table class="event">
            <thead>
                <tr>
                    <td>Date</td>
                    <td class="event-thumb-head"></td>
                    <td>Artist</td>
                    <td>Event</td>
                    <td>Ticket</td>
                </tr>
                <tr class="space">
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="event-date">26/09/2021</td>
                    <td class="event-thumb">
                        <a href="single-event.html">
                            <img width="120" height="100" src="{% static 'img/artists/ali.jpeg' %}" alt="table-1" > 
                        </a>
                    </td>
                    <td class="event-artist">Alignment</td>
                    <td class="event-title"><a href="single-event.html">BASEONHAZE X DOOR2SOUL</a></td>
                    <td class="event-ticket-link">
                        <a href="#" class="button button-white rsvp">BOOK</a>
                        <a href="#" class="button button-white">BUY TICKET</a>
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="event-date">26/03/2021</td>
                    <td class="event-thumb">
                        <a href="single-event.html">
                            <img width="120" height="100" src="{% static 'img/artists/spfdj-cover.jpeg' %}" alt="table-2"> 
                        </a>
                    </td>
                    <td class="event-artist">SPFDJ</td>
                    <td class="event-title"><a href="single-event.html">Chicago Indrustry</a></td>
                    <td class="event-ticket-link">
                        <span class="sold">EXPIRED</span>
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="event-date">26/03/2021</td>
                    <td class="event-thumb">
                        <a href="single-event.html">
                            <img width="120" height="100" src="{% static 'img/artists/fadi.jpeg' %}" alt="table-3">
                        </a>
                    </td>
                    <td class="event-artist">Fadi Mohem</td>
                    <td class="event-title"><a href="single-event.html">The Underground</a></td>
                    <td class="event-ticket-link">
                        <span class="sold">EXPIRED</span>
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="event-date">26/05/2021</td>
                    <td class="event-thumb">
                        <a href="single-event.html">
                            <img width="120" height="100" src="{% static 'img/artists/massive.jpeg' %}" alt="table-4">
                        </a>
                    </td>
                    <td class="event-artist">Massive Attack</td>
                    <td class="event-title"><a href="single-event.html">in my dreams</a></td>
                    <td class="event-ticket-link">
                        <span class="sold">EXPIRED</span>
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td class="event-date">26/06/2021</td>
                    <td class="event-thumb">
                        <a href="single-event.html">
                            <img width="120" height="100" src="{% static 'img/artists/lfo.jpeg' %}" alt="table-5">
                        </a>
                    </td>
                    <td class="event-artist">LFO</td>
                    <td class="event-title"><a href="single-event.html">in my dreams</a></td>
                    <td class="event-ticket-link">
                        <span class="sold">EXPIRED</span>
                    </td>
                </tr>
                <tr class="space">
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </tbody>
        </table>




<!--  -->


        <div class="event-mobile">
            <ul class="event-list">
                <li>
                    <span class="img-thumb">
                        <a href="single-event.html">
                            <img width="120" height="100" src="{% static 'img/artists/ali.jpeg' %}" alt="table-1-1">
                        </a>
                    </span>
                    <p><span>Date :</span> <a href="single-event.html">26/09/2022</a></p>
                    <p><span>Artist :</span> <a href="single-event.html">Alignment</a></p>
                    <p><span>Event :</span> <a href="single-event.html">BASEONHAZE X DOOR2SOUL</a></p>
                    <p>
                        <a href="#" class="button-basic-1">BUY TICKET</a>
                    </p>
                </li>
                <li>
                    <span class="img-thumb">
                        <a href="single-event.html">
                            <img width="70" height="100" src="img/upcoming-event-2.png" alt="table-1-2"> 
                        </a>
                    </span>
                    <p><span>Date :</span> <a href="single-event.html">26/09/2021</a></p>
                    <p><span>Artist :</span> <a href="single-event.html">W. Illinvois</a></p>
                    <p><span>Event :</span> <a href="single-event.html">Chicago Indrustry</a></p>
                    <p>
                        <a href="#" class="button-basic-1">BUY TICKET</a>
                    </p>
                </li>
                <li>
                    <span class="img-thumb">
                        <a href="single-event.html">
                            <img width="70" height="100" src="img/upcoming-event-3.png" alt="table-1-3"> 
                        </a>
                    </span>
                    <p><span>Date :</span> <a href="single-event.html">26/03/2021</a></p>
                    <p><span>Artist :</span> <a href="single-event.html">Apollo Xo</a></p>
                    <p><span>Event :</span> <a href="single-event.html">The Underground</a></p>
                    <p>
                        <a href="#" class="button-basic-1">BUY TICKET</a>
                    </p>
                </li>
                <li>
                    <span class="img-thumb">
                        <a href="single-event.html">
                            <img width="70" height="100" src="img/upcoming-event-4.png" alt="table-1-4"> 
                        </a>
                    </span>
                    <p><span>Date :</span> <a href="single-event.html">26/05/2021</a></p>
                    <p><span>Artist :</span> <a href="single-event.html">Underground Music</a></p>
                    <p><span>Event :</span> <a href="single-event.html">EDM</a></p>
                    <p>
                        <span class="sold">TICKET SOLD OUT</span> </p>
                </li>
                <li>
                    <span class="img-thumb">
                        <a href="single-event.html">
                            <img width="70" height="100" src="img/upcoming-event-5.png" alt="table-1-5"> 
                        </a>
                    </span>
                    <p><span>Date :</span> <a href="single-event.html">26/06/2021</a></p>
                    <p><span>Artist :</span> <a href="single-event.html">Bhad Bhabie</a></p>
                    <p><span>Event :</span> <a href="single-event.html">Asian Dolls</a></p>
                    <p>
                        <a href="#" class="button-basic-1">BUY TICKET</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- TABLE EVENTS END -->



    

    <!-- BOOK TABLE -->
    <div class="book-table">
        <div class="container">
            <div class="book-wrap news-title grid grid-cols-12 gap-24">
                <div class="the-title col-span-6 sm:col-span-12 res:col-span-12">
                    <h5 class="head-title-2"> / ARE YOU A PRODUCER? </h5>
                    <h2 class="head-title-1"> SEND US YOUR DEMO TRACKS
                        <span class="title-end">.</span></h2>
                    <p class="dugem-text"> açıklama açıklamaaaaaaa açıklama açıklamaaaaaaaaçıklama açıklamaaaaaaaaçıklama açıklamaaaaaaaaçıklama açıklamaaaaaaa</p>
                </div>
                <div class="contact-form-style col-span-6 sm:col-span-12 res:col-span-12">
                    <input type="text" name="your-name" size="40" placeholder="Name">
                    <input type="text" name="your-name" size="40" placeholder="Email">
                    <textarea name="your-message" cols="40" rows="10" placeholder="Text"></textarea>
                    <input type="submit" value="Send" class="button-basic-1">

                </div>
            </div>
        </div>
    </div>
    <!-- BOOK TABLE END -->
</section>
<!-- SECTION END -->













{% endblock  %}